/*
div.title {
  font-family: 'Playball';
  font-size: 200%;
  float: top;
  text-align: center;
  color: white;
  text-shadow:
   10px 10px rgb(255, 140, 26),
   1px -1px rgb(255, 140, 26),
   -1px 1px rgb(255, 140, 26),
   1px 1px rgb(255, 140, 26);
}

div.summary_info {
  align-items: center;
  border: solid;

}

#avatard {
 border: solid;
 border-radius: 100px;
 height: 30px;
 width: 30px;
}

#users {
 text-align: center;
 font-size: 30%;
 font-family: 'Gruppo';
 border: solid;
 border-radius: 20px;
 padding: 10px;
 background-color: rgba(255, 255, 255, 0.7);
}

#username {
 text-align: left;
}

#ghusername {
 text-align: center;
 background-color: rgba(255, 255, 255, 0.7);
 border: solid;
 border-radius: 100px;
 margin-left: 35%;
 margin-right: 35%;
 padding: 5px;

}

body {
  font-size: 100px;
}

button {
 background-color: rgb(51, 204, 204);
 font-size: 70%;
 font-family: 'Gruppo';
 border: none;
 color: white;
 padding: 5px 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 border-radius: 10px;
}

button#ghsubmitbtn {
  align-self: center;
  position: relative;
  left: 37%;
}


#ghusername {
  align-self: center;
  position: relative;
  left: 37%;
 background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
 width: 75%;
 max-width: 500px;
 height: 10%;
 max-height: 50px;
 font-family: 'Gruppo';
 font-size: 50%;
 line-height: 70%;
}*/
