<!doctype html>
<html lang="en" ng-app="githubApiApp">
  <head>
    <meta charset="utf-8">
    <title>Github API App</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/searchController.js"></script>
  </head>
  <body ng-controller="searchController">
        <input type="text" id="ghusername" ng-model="username" placeholder="Github username...">
        <a href="#" id="ghsubmitbtn" ng-click="getGitInfo()">Pull User Data</a>

      <div ng-show="userNotFound">
        <h2>No User Info Found</h2>
      </div>

      <div ng-show="loaded">

       <h2> {{user.name}}
          <span class="smallname">(@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)</span>
       </h2>
      </div>

  </body>
</html>
