#avatard {
 border: solid;
 border-radius: 100px;
 height: 30px;
 width: 30px;
}

#users {
 text-align: center;
 font-family: sans-serif;
 border: solid;
 border-radius: 20px;
 padding: 10px;
 background-color: rgba(255, 255, 255, 0.7);
}

#username {
 text-align: left;
}

#ghusername {
 text-align: center;
 background-color: rgba(255, 255, 255, 0.7);
 border: solid;
 border-radius: 100px;
 margin-left: 35%;
 margin-right: 35%;
 padding: 5px;
}

/*#mainbody {
 background-image: url("https://octodex.github.com/images/octobiwan.jpg");
 background-size: cover;
}*/
